In [229]:
import pandas as pd
from matplotlib import pyplot as plt

data = pd.DataFrame(columns = ['country', 'year', 'pollution_co2'])
df = pd.read_csv('./assets/CO2_Emissions_1960-2018.csv')

# Pays gardés
kept_countries = ['France', 'Italy', 'Spain', 'Germany', 'Portugal', 'United Kingdom']
limit_to_kept_countries = False

df.head(5)

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,204.631696,208.837879,226.081890,214.785217,207.626699,185.213644,172.158729,210.819017,194.917536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,0.906060,0.922474,0.930816,0.940570,0.996033,1.047280,1.033908,1.052204,1.079727,...,1.021954,1.048876,1.005338,1.021646,1.031833,1.041145,0.987393,0.971016,0.959978,0.933541
2,Afghanistan,0.046057,0.053589,0.073721,0.074161,0.086174,0.101285,0.107399,0.123409,0.115142,...,0.211306,0.297065,0.407074,0.335351,0.263716,0.234037,0.232176,0.208857,0.203328,0.200151
3,Africa Western and Central,0.090880,0.095283,0.096612,0.112376,0.133258,0.184803,0.193676,0.189305,0.143989,...,0.426770,0.472819,0.497023,0.490867,0.504655,0.507671,0.480743,0.472959,0.476438,0.515544
4,Angola,0.100835,0.082204,0.210533,0.202739,0.213562,0.205891,0.268937,0.172096,0.289702,...,1.205902,1.221515,1.216317,1.204799,1.261542,1.285365,1.260921,1.227703,1.034317,0.887380

In [230]:
# Récupération de la liste des pays
countries = df['Country Name'].unique().tolist()
print(countries)
df.set_index('Country Name', inplace=True)

['Aruba', 'Africa Eastern and Southern', 'Afghanistan', 'Africa Western and Central', 'Angola', 'Albania', 'Andorra', 'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The', 'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda', 'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan', 'Botswana', 'Central African Republic', 'Canada', 'Central Europe and the Baltics', 'Switzerland', 'Channel Islands', 'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands', 'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria', 'East Asia & Pacific (excluding high income)', 'Early-demographic dividend', 'East Asia & Pacific', 'Europe & Central Asia (excluding high income)', 'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.', 'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia', 'European Union', 'Fragile and conflict affected situations', 'Finland', 'Fiji', 'France', 'Faroe Islands', 'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia', 'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala', 'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China', 'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia', 'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total', 'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India', 'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait', 'Latin America & Caribbean (excluding high income)', 'Lao PDR', 'Lebanon', 'Liberia', 'Libya', 'St. Lucia', 'Latin America & Caribbean', 'Least developed countries: UN classification', 'Low income', 'Liechtenstein', 'Sri Lanka', 'Lower middle income', 'Low & middle income', 'Lesotho', 'Late-demographic dividend', 'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China', 'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova', 'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico', 'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Middle East & North Africa (excluding high income)', 'Montenegro', 'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia', 'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman', 'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend', 'Puerto Rico', "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay', 'West Bank and Gaza', 'Pacific island small states', 'Post-demographic dividend', 'French Polynesia', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'South Asia', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia', 'Sub-Saharan Africa (excluding high income)', 'South Sudan', 'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe', 'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad', 'East Asia & Pacific (IDA & IBRD countries)', 'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand', 'Tajikistan', 'Turkmenistan', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)', 'Tonga', 'South Asia (IDA & IBRD)', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine', 'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan', 'St. Vincent and the Grenadines', 'Venezuela, RB', 'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe']

In [231]:
# Récupération de la liste des années
columns = df.columns
years = columns[1:].tolist()
print(years)

['1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']

In [232]:
# Création nouveau dataframe organisé par pays puis années
data_list = []

for country in countries:
    #values = df[df['Country Name'] == country]
    for year in years:
        value = df.loc[country, year]
        #print(value)
        data_list.append({'country': country, 'year': year, 'pollution_co2': value})
data = pd.DataFrame(data_list, columns=['country', 'year', 'pollution_co2'])
data.head(5)

  country  year  pollution_co2
0   Aruba  1961     208.837879
1   Aruba  1962     226.081890
2   Aruba  1963     214.785217
3   Aruba  1964     207.626699
4   Aruba  1965     185.213644

In [233]:
data.dtypes

country           object
year              object
pollution_co2    float64
dtype: object

In [234]:
data.shape

(15428, 3)

In [235]:
# Suppression des valeurs inutiles si nécessaires
nb_na = data['pollution_co2'].isna().sum()
print("Nombre de valeurs invalides ou nulls: " + str(nb_na))
if nb_na > 0:
    data.dropna(subset=['pollution_co2'], inplace=True)
data.shape

Nombre de valeurs invalides ou nulls: 2289

(13139, 3)

In [236]:
data.to_csv('./output/CO2_Emissions_sortedByYearAndCountry.csv', index=False)

In [237]:
# Retirer les valeurs des pays différents de cette liste et exporter le fichier
if limit_to_kept_countries:
    data = data[data.country.isin(kept_countries)]
data.to_csv('./output/CO2_Emissions_sortedByYearAndCountry.csv', index=False)

In [238]:
# Charger le fichier World Energy Consumption
wec = pd.read_csv('./assets/World Energy Consumption.csv')
if limit_to_kept_countries:
    wec = wec[wec.country.isin(kept_countries)]
wec.to_csv('./output/World Energy Consumption (limited).csv', index=False)

In [239]:
# Changement de types
data['year'] = data['year'].astype(int)
wec['year'] = wec['year'].astype(int)

wec['country'] = wec['country'].astype(str)
data['country'] = data['country'].astype(str)

# Fusion des valeurs de Co2
wec = pd.merge(wec, data, on=["country", "year"])
            
# Supprimer la colonne 'population'
# wec = wec.drop('population', axis=1, errors='ignore')
# wec = wec.drop('iso_code', axis=1, errors='ignore')
# wec = wec.drop('gdp', axis=1, errors='ignore')

wec = wec[wec['year'] >= 1960]

# Valeurs enregistrés
wec.to_csv('./output/World Energy Consumption (limited).csv', index=False)

In [240]:
#Dataset Taxes sur les énergies

In [241]:
# Charger le dataset des taxes sur les énergies
tax = pd.read_csv('./assets/Tax_Energy.csv')
tax.head(5)

,ObjectId,Country,ISO2,ISO3,Indicator,Source,CTS Code,CTS Name,CTS Full Descriptor,Unit,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,Albania,AL,ALB,Environmental Taxes,Organisation for Economic Co-operation and Dev...,ECGTE,Environmental Taxes,"Environment, Climate Change, Government Policy...",Domestic Currency,...,NaN,NaN,NaN,4.399314e+10,4.781379e+10,4.754858e+10,5.114559e+10,5.341565e+10,NaN,NaN
1,2,Albania,AL,ALB,Environmental Taxes,Organisation for Economic Co-operation and Dev...,ECGTE,Environmental Taxes,"Environment, Climate Change, Government Policy...",Percent of GDP,...,NaN,NaN,NaN,3.067206e+00,3.247163e+00,3.066373e+00,3.124865e+00,3.157133e+00,NaN,NaN
2,3,Albania,AL,ALB,Taxes on Energy (including fuel for transport),Organisation for Economic Co-operation and Dev...,ECGTEN,Taxes on Energy (Including Fuel for Transport),"Environment, Climate Change, Government Policy...",Domestic Currency,...,NaN,NaN,NaN,3.774111e+10,4.094562e+10,4.040004e+10,4.352182e+10,4.516530e+10,NaN,NaN
3,4,Albania,AL,ALB,Taxes on Energy (including fuel for transport),Organisation for Economic Co-operation and Dev...,ECGTEN,Taxes on Energy (Including Fuel for Transport),"Environment, Climate Change, Government Policy...",Percent of GDP,...,NaN,NaN,NaN,2.631314e+00,2.780726e+00,2.605369e+00,2.659072e+00,2.669496e+00,NaN,NaN
4,5,Albania,AL,ALB,Taxes on Pollution,Organisation for Economic Co-operation and Dev...,ECGTEP,Taxes on Pollution,"Environment, Climate Change, Government Policy...",Domestic Currency,...,NaN,NaN,NaN,1.782069e+09,1.879970e+09,1.941324e+09,2.226251e+09,2.625011e+09,NaN,NaN

In [242]:
tax_country = tax[tax["Country"] == "Andorra, Principality of"]
print(tax_country)

    ObjectId                   Country ISO2 ISO3  \
10        11  Andorra, Principality of   AD  AND
11        12  Andorra, Principality of   AD  AND
12        13  Andorra, Principality of   AD  AND
13        14  Andorra, Principality of   AD  AND
14        15  Andorra, Principality of   AD  AND

                                            Indicator  \
10                                Environmental Taxes
11     Taxes on Energy (including fuel for transport)
12                                 Taxes on Pollution
13                                 Taxes on Resources
14  Taxes on Transport (excluding fuel for transport)

                                               Source CTS Code  \
10  Organisation for Economic Co-operation and Dev...    ECGTE
11  Organisation for Economic Co-operation and Dev...   ECGTEN
12  Organisation for Economic Co-operation and Dev...   ECGTEP
13  Organisation for Economic Co-operation and Dev...   ECGTER
14  Organisation for Economic Co-operation and Dev...   ECGTET

                                             CTS Name  \
10                                Environmental Taxes
11     Taxes on Energy (Including Fuel for Transport)
12                                 Taxes on Pollution
13                                 Taxes on Resources
14  Taxes on Transport (Excluding Fuel for Transport)

                                  CTS Full Descriptor               Unit  ...  \
10  Environment, Climate Change, Government Policy...  Domestic Currency  ...
11  Environment, Climate Change, Government Policy...  Domestic Currency  ...
12  Environment, Climate Change, Government Policy...  Domestic Currency  ...
13  Environment, Climate Change, Government Policy...  Domestic Currency  ...
14  Environment, Climate Change, Government Policy...  Domestic Currency  ...

    2012  2013  2014          2015          2016          2017          2018  \
10   NaN   NaN   NaN  4.600367e+12  4.616889e+12  5.043869e+12  5.283535e+12
11   NaN   NaN   NaN  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
12   NaN   NaN   NaN  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
13   NaN   NaN   NaN  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
14   NaN   NaN   NaN  4.600367e+12  4.616889e+12  5.043869e+12  5.283535e+12

            2019          2020  2021
10  5.675649e+12  6.462285e+12   NaN
11  0.000000e+00  0.000000e+00   NaN
12  0.000000e+00  0.000000e+00   NaN
13  0.000000e+00  0.000000e+00   NaN
14  5.675649e+12  6.462285e+12   NaN

[5 rows x 37 columns]

In [243]:
# Compter le nombre de valeurs "NaN" dans les colonnes
nb_nan_colTax = tax.isna().sum()

print("Nombre de NaN dans les colonnes :", nb_nan_colTax)

# Compter le nombre de valeurs "NaN" dans le dataset
nb_nan_dataset = tax.isna().sum().sum()

print("Nombre de NaN dans le dataset :", nb_nan_dataset)

Nombre de NaN dans les colonnes : ObjectId                 0
Country                  0
ISO2                    10
ISO3                     8
Indicator                0
Source                   0
CTS Code                 0
CTS Name                 0
CTS Full Descriptor      0
Unit                     0
1995                   495
1996                   491
1997                   491
1998                   483
1999                   481
2000                   431
2001                   415
2002                   411
2003                   403
2004                   403
2005                   369
2006                   359
2007                   351
2008                   321
2009                   321
2010                   295
2011                   303
2012                   307
2013                   309
2014                   305
2015                    44
2016                    46
2017                    50
2018                    68
2019                   100
2020                   192
2021                   579
dtype: int64
Nombre de NaN dans le dataset : 8841

In [244]:
# Regrouper les années dans une seule colonne
tax = pd.melt(tax, id_vars=["ObjectId", "Country", "ISO2", "ISO3", "Indicator", "Source", "CTS Code", "CTS Name", "CTS Full Descriptor", "Unit"], 
                    var_name="Année", value_name="Taxe")
tax.head(5)

,ObjectId,Country,ISO2,ISO3,Indicator,Source,CTS Code,CTS Name,CTS Full Descriptor,Unit,Année,Taxe
0,1,Albania,AL,ALB,Environmental Taxes,Organisation for Economic Co-operation and Dev...,ECGTE,Environmental Taxes,"Environment, Climate Change, Government Policy...",Domestic Currency,1995,NaN
1,2,Albania,AL,ALB,Environmental Taxes,Organisation for Economic Co-operation and Dev...,ECGTE,Environmental Taxes,"Environment, Climate Change, Government Policy...",Percent of GDP,1995,NaN
2,3,Albania,AL,ALB,Taxes on Energy (including fuel for transport),Organisation for Economic Co-operation and Dev...,ECGTEN,Taxes on Energy (Including Fuel for Transport),"Environment, Climate Change, Government Policy...",Domestic Currency,1995,NaN
3,4,Albania,AL,ALB,Taxes on Energy (including fuel for transport),Organisation for Economic Co-operation and Dev...,ECGTEN,Taxes on Energy (Including Fuel for Transport),"Environment, Climate Change, Government Policy...",Percent of GDP,1995,NaN
4,5,Albania,AL,ALB,Taxes on Pollution,Organisation for Economic Co-operation and Dev...,ECGTEP,Taxes on Pollution,"Environment, Climate Change, Government Policy...",Domestic Currency,1995,NaN

In [245]:
# Concaténer les valeurs de "CTS Code" et "CTS Name" avec un séparateur "-"
tax["CTS Name"] = tax["CTS Code"] + " - " + tax["CTS Name"]

# Supprimer la colonne "CTS Code" puisque ses valeurs ont été concaténées avec "CTS Name"
# Supprimer les colonnes inutiles "ObjectId", "ISO2", "Indicator", "Source", "CTS Full Descriptor"
tax.drop(columns=["CTS Code", "ObjectId", "ISO2", "Indicator", "Source", "CTS Full Descriptor"], inplace=True)

tax.head(5)

,Country,ISO3,CTS Name,Unit,Année,Taxe
0,Albania,ALB,ECGTE - Environmental Taxes,Domestic Currency,1995,NaN
1,Albania,ALB,ECGTE - Environmental Taxes,Percent of GDP,1995,NaN
2,Albania,ALB,ECGTEN - Taxes on Energy (Including Fuel for T...,Domestic Currency,1995,NaN
3,Albania,ALB,ECGTEN - Taxes on Energy (Including Fuel for T...,Percent of GDP,1995,NaN
4,Albania,ALB,ECGTEP - Taxes on Pollution,Domestic Currency,1995,NaN

In [246]:
tax.columns

Index(['Country', 'ISO3', 'CTS Name', 'Unit', 'Année', 'Taxe'], dtype='object')

In [247]:
tax.columns.dtype

dtype('O')

In [248]:
tax.dtypes

Country      object
ISO3         object
CTS Name     object
Unit         object
Année        object
Taxe        float64
dtype: object

In [249]:
tax.shape

(33453, 6)

In [250]:
# Vérifier les valeurs nulles dans le DataFrame
null_values = tax.isnull()

# Vérifier si le DataFrame est vide
is_empty = tax.empty

# Afficher les valeurs nulles
print("Valeurs nulles dans le DataFrame :")
print(null_values)

# Afficher si le DataFrame est vide
print("\nLe DataFrame est vide :", is_empty)

Valeurs nulles dans le DataFrame :
       Country   ISO3  CTS Name   Unit  Année  Taxe
0        False  False     False  False  False  True
1        False  False     False  False  False  True
2        False  False     False  False  False  True
3        False  False     False  False  False  True
4        False  False     False  False  False  True
...        ...    ...       ...    ...    ...   ...
33448    False  False     False  False  False  True
33449    False  False     False  False  False  True
33450    False  False     False  False  False  True
33451    False  False     False  False  False  True
33452    False  False     False  False  False  True

[33453 rows x 6 columns]

Le DataFrame est vide : False

In [251]:
# Vérifier s'il y a des valeurs "nan" ou "null" dans la colonne 'Taxe'
nan_colTaxe = tax['Taxe'].isna().any()

print("Valeurs nan ou null dans la colonne 'Taxe':", nan_colTaxe)

Valeurs nan ou null dans la colonne 'Taxe': True

In [252]:
# Compter le nombre de valeurs "NaN" dans la colonne 'Taxe'
nb_nan_colTax = tax['Taxe'].isna().sum()

print("Nombre de NaN dans la colonne 'Taxe':", nb_nan_colTax)

Nombre de NaN dans la colonne 'Taxe': 8823

In [253]:
# Filtrer les lignes avec des valeurs  puis les afficher
nan_rows = tax[tax.isna().any(axis=1)]

print("Lignes contenant des valeurs NaN :")
print(nan_rows)

Lignes contenant des valeurs NaN :
                  Country ISO3  \
0                 Albania  ALB
1                 Albania  ALB
2                 Albania  ALB
3                 Albania  ALB
4                 Albania  ALB
...                   ...  ...
33448  West Bank and Gaza  PSE
33449  West Bank and Gaza  PSE
33450  West Bank and Gaza  PSE
33451  West Bank and Gaza  PSE
33452  West Bank and Gaza  PSE

                                                CTS Name               Unit  \
0                            ECGTE - Environmental Taxes  Domestic Currency
1                            ECGTE - Environmental Taxes     Percent of GDP
2      ECGTEN - Taxes on Energy (Including Fuel for T...  Domestic Currency
3      ECGTEN - Taxes on Energy (Including Fuel for T...     Percent of GDP
4                            ECGTEP - Taxes on Pollution  Domestic Currency
...                                                  ...                ...
33448                        ECGTEP - Taxes on Pollution     Percent of GDP
33449                        ECGTER - Taxes on Resources  Domestic Currency
33450                        ECGTER - Taxes on Resources     Percent of GDP
33451  ECGTET - Taxes on Transport (Excluding Fuel fo...  Domestic Currency
33452  ECGTET - Taxes on Transport (Excluding Fuel fo...     Percent of GDP

      Année  Taxe
0      1995   NaN
1      1995   NaN
2      1995   NaN
3      1995   NaN
4      1995   NaN
...     ...   ...
33448  2021   NaN
33449  2021   NaN
33450  2021   NaN
33451  2021   NaN
33452  2021   NaN

[8863 rows x 6 columns]

In [254]:
# Compter le nombre de valeurs "NaN" dans les colonnes
nb_nan_colTax = tax.isna().sum()

print("Nombre de NaN dans les colonnes :", nb_nan_colTax)

# Compter le nombre de valeurs "NaN" dans le dataset
nb_nan_dataset = tax.isna().sum().sum()

print("Nombre de NaN dans le dataset :", nb_nan_dataset)

Nombre de NaN dans les colonnes : Country        0
ISO3         216
CTS Name       0
Unit           0
Année          0
Taxe        8823
dtype: int64
Nombre de NaN dans le dataset : 9039

In [255]:
print(tax.columns)

Index(['Country', 'ISO3', 'CTS Name', 'Unit', 'Année', 'Taxe'], dtype='object')

In [256]:
# Pivoter les données pour mettre les catégories des taxes de la colonne "CTS Name" en colonnes et pour mettre les unités des taxes de la colonne "Unit" en colonnes
taxE = tax.pivot_table(index=['Country', 'ISO3', 'Année'],
                               columns=['CTS Name', 'Unit'],
                               values='Taxe').reset_index()

taxE.head(5)

CTS Name  Country ISO3 Année ECGTE - Environmental Taxes                 \
Unit                                   Domestic Currency Percent of GDP
0         Albania  ALB  2015                4.399314e+10       3.067206
1         Albania  ALB  2016                4.781379e+10       3.247163
2         Albania  ALB  2017                4.754858e+10       3.066373
3         Albania  ALB  2018                5.114559e+10       3.124865
4         Albania  ALB  2019                5.341565e+10       3.157133

CTS Name ECGTEN - Taxes on Energy (Including Fuel for Transport)  \
Unit                                           Domestic Currency
0                                              3.774111e+10
1                                              4.094562e+10
2                                              4.040004e+10
3                                              4.352182e+10
4                                              4.516530e+10

CTS Name                ECGTEP - Taxes on Pollution                 \
Unit     Percent of GDP           Domestic Currency Percent of GDP
0              2.631314                1.782069e+09       0.124246
1              2.780726                1.879970e+09       0.127674
2              2.605369                1.941324e+09       0.125195
3              2.659072                2.226251e+09       0.136018
4              2.669496                2.625011e+09       0.155151

CTS Name ECGTER - Taxes on Resources                 \
Unit               Domestic Currency Percent of GDP
0                        32546493.00       0.002269
1                        52524339.00       0.003567
2                        61861356.38       0.003989
3                        56011991.00       0.003422
4                        58777099.50       0.003474

CTS Name ECGTET - Taxes on Transport (Excluding Fuel for Transport)  \
Unit                                              Domestic Currency
0                                              4.437413e+09
1                                              4.935684e+09
2                                              5.145347e+09
3                                              5.341506e+09
4                                              5.566564e+09

CTS Name
Unit     Percent of GDP
0              0.309377
1              0.335195
2              0.331820
3              0.326352
4              0.329012

In [257]:
# Renommer les colonnes
taxE.columns = [
    'country',
    'ISO3',
    'year',
    'ECGTE_EnvTaxes_DomCCY',
    'ECGTE_EnvTaxes_PctGDP',
    'ECGTEN_TaxesEnergy_InclFuelTrans_DomCCY',
    'ECGTEN_TaxesEnergy_InclFuelTrans_PctGDP',
    'ECGTEP_TaxesPollution_DomCCY',
    'ECGTEP_TaxesPollution_PctGDP',
    'ECGTER_TaxesResources_DomCCY',
    'ECGTER_TaxesResources_PctGDP',
    'ECGTET_TaxesTrans_ExclFuelTrans_DomCCY',
    'ECGTET_TaxesTrans_ExclFuelTrans_PctGDP'
]
# Afficher les nouvelles colonnes
print(taxE.columns)

Index(['country', 'ISO3', 'year', 'ECGTE_EnvTaxes_DomCCY',
       'ECGTE_EnvTaxes_PctGDP', 'ECGTEN_TaxesEnergy_InclFuelTrans_DomCCY',
       'ECGTEN_TaxesEnergy_InclFuelTrans_PctGDP',
       'ECGTEP_TaxesPollution_DomCCY', 'ECGTEP_TaxesPollution_PctGDP',
       'ECGTER_TaxesResources_DomCCY', 'ECGTER_TaxesResources_PctGDP',
       'ECGTET_TaxesTrans_ExclFuelTrans_DomCCY',
       'ECGTET_TaxesTrans_ExclFuelTrans_PctGDP'],
      dtype='object')

In [258]:
# Compter le nombre de valeurs "NaN" dans les colonnes
nb_nan_colTax_taxE = taxE.isna().sum()

print("Nombre de NaN dans les colonnes :", nb_nan_colTax_taxE)

# Compter le nombre de valeurs "NaN" dans le dataset
nb_nan_dataset_taxE = taxE.isna().sum().sum()

print("Nombre de NaN dans le dataset :", nb_nan_dataset_taxE)

Nombre de NaN dans les colonnes : country                                      0
ISO3                                         0
year                                         0
ECGTE_EnvTaxes_DomCCY                      460
ECGTE_EnvTaxes_PctGDP                      477
ECGTEN_TaxesEnergy_InclFuelTrans_DomCCY    339
ECGTEN_TaxesEnergy_InclFuelTrans_PctGDP    345
ECGTEP_TaxesPollution_DomCCY               134
ECGTEP_TaxesPollution_PctGDP               140
ECGTER_TaxesResources_DomCCY               146
ECGTER_TaxesResources_PctGDP               152
ECGTET_TaxesTrans_ExclFuelTrans_DomCCY     350
ECGTET_TaxesTrans_ExclFuelTrans_PctGDP     367
dtype: int64
Nombre de NaN dans le dataset : 2910

In [259]:
# Filtrer les lignes avec des valeurs nan puis les afficher
nan_rows_taxE = taxE[taxE.isna().any(axis=1)]

print("Lignes contenant des valeurs NaN :")
print(nan_rows_taxE)

Lignes contenant des valeurs NaN :
                       country ISO3  year  ECGTE_EnvTaxes_DomCCY  \
5     Andorra, Principality of  AND  2015           4.600367e+12
6     Andorra, Principality of  AND  2016           4.616889e+12
7     Andorra, Principality of  AND  2017           5.043869e+12
8     Andorra, Principality of  AND  2018           5.283535e+12
9     Andorra, Principality of  AND  2019           5.675649e+12
...                        ...  ...   ...                    ...
2721                   Vietnam  VNM  1999                    NaN
2722                   Vietnam  VNM  2000                    NaN
2723                   Vietnam  VNM  2001                    NaN
2724                   Vietnam  VNM  2002                    NaN
2743                   Vietnam  VNM  2021                    NaN

      ECGTE_EnvTaxes_PctGDP  ECGTEN_TaxesEnergy_InclFuelTrans_DomCCY  \
5                       NaN                                      0.0
6                       NaN                                      0.0
7                       NaN                                      0.0
8                       NaN                                      0.0
9                       NaN                                      0.0
...                     ...                                      ...
2721                    NaN                                      NaN
2722                    NaN                                      NaN
2723                    NaN                                      NaN
2724                    NaN                                      NaN
2743                    NaN                                      NaN

      ECGTEN_TaxesEnergy_InclFuelTrans_PctGDP  ECGTEP_TaxesPollution_DomCCY  \
5                                         NaN                           0.0
6                                         NaN                           0.0
7                                         NaN                           0.0
8                                         NaN                           0.0
9                                         NaN                           0.0
...                                       ...                           ...
2721                                      NaN                           0.0
2722                                      NaN                           0.0
2723                                      NaN                           0.0
2724                                      NaN                           0.0
2743                                      NaN                           0.0

      ECGTEP_TaxesPollution_PctGDP  ECGTER_TaxesResources_DomCCY  \
5                              NaN                           0.0
6                              NaN                           0.0
7                              NaN                           0.0
8                              NaN                           0.0
9                              NaN                           0.0
...                            ...                           ...
2721                           0.0                           0.0
2722                           0.0                           0.0
2723                           0.0                           0.0
2724                           0.0                           0.0
2743                           0.0                           0.0

      ECGTER_TaxesResources_PctGDP  ECGTET_TaxesTrans_ExclFuelTrans_DomCCY  \
5                              NaN                            4.600367e+12
6                              NaN                            4.616889e+12
7                              NaN                            5.043869e+12
8                              NaN                            5.283535e+12
9                              NaN                            5.675649e+12
...                            ...                                     ...
2721                           0.0                            0.000000e+00
2722                           0.0                            0.000000e+00
2723                           0.0                            0.000000e+00
2724                           0.0                            0.000000e+00
2743                           0.0                            0.000000e+00

      ECGTET_TaxesTrans_ExclFuelTrans_PctGDP
5                                        NaN
6                                        NaN
7                                        NaN
8                                        NaN
9                                        NaN
...                                      ...
2721                                     0.0
2722                                     0.0
2723                                     0.0
2724                                     0.0
2743                                     0.0

[635 rows x 13 columns]

In [260]:
taxE.dtypes

country                                     object
ISO3                                        object
year                                        object
ECGTE_EnvTaxes_DomCCY                      float64
ECGTE_EnvTaxes_PctGDP                      float64
ECGTEN_TaxesEnergy_InclFuelTrans_DomCCY    float64
ECGTEN_TaxesEnergy_InclFuelTrans_PctGDP    float64
ECGTEP_TaxesPollution_DomCCY               float64
ECGTEP_TaxesPollution_PctGDP               float64
ECGTER_TaxesResources_DomCCY               float64
ECGTER_TaxesResources_PctGDP               float64
ECGTET_TaxesTrans_ExclFuelTrans_DomCCY     float64
ECGTET_TaxesTrans_ExclFuelTrans_PctGDP     float64
dtype: object

In [261]:
taxE.shape

(2750, 13)

In [262]:
# Vérifier les valeurs nulles dans le DataFrame
null_values = taxE.isnull()

# Vérifier si le DataFrame est vide
is_empty = taxE.empty

# Afficher les valeurs nulles
print("Valeurs nulles dans le DataFrame :")
print(null_values)

# Afficher si le DataFrame est vide
print("\nLe DataFrame est vide :", is_empty)

Valeurs nulles dans le DataFrame :
      country   ISO3   year  ECGTE_EnvTaxes_DomCCY  ECGTE_EnvTaxes_PctGDP  \
0       False  False  False                  False                  False
1       False  False  False                  False                  False
2       False  False  False                  False                  False
3       False  False  False                  False                  False
4       False  False  False                  False                  False
...       ...    ...    ...                    ...                    ...
2745    False  False  False                  False                  False
2746    False  False  False                  False                  False
2747    False  False  False                  False                  False
2748    False  False  False                  False                  False
2749    False  False  False                  False                  False

      ECGTEN_TaxesEnergy_InclFuelTrans_DomCCY  \
0                                       False
1                                       False
2                                       False
3                                       False
4                                       False
...                                       ...
2745                                    False
2746                                    False
2747                                    False
2748                                    False
2749                                    False

      ECGTEN_TaxesEnergy_InclFuelTrans_PctGDP  ECGTEP_TaxesPollution_DomCCY  \
0                                       False                         False
1                                       False                         False
2                                       False                         False
3                                       False                         False
4                                       False                         False
...                                       ...                           ...
2745                                    False                         False
2746                                    False                         False
2747                                    False                         False
2748                                    False                         False
2749                                    False                         False

      ECGTEP_TaxesPollution_PctGDP  ECGTER_TaxesResources_DomCCY  \
0                            False                         False
1                            False                         False
2                            False                         False
3                            False                         False
4                            False                         False
...                            ...                           ...
2745                         False                         False
2746                         False                         False
2747                         False                         False
2748                         False                         False
2749                         False                         False

      ECGTER_TaxesResources_PctGDP  ECGTET_TaxesTrans_ExclFuelTrans_DomCCY  \
0                            False                                   False
1                            False                                   False
2                            False                                   False
3                            False                                   False
4                            False                                   False
...                            ...                                     ...
2745                         False                                   False
2746                         False                                   False
2747                         False                                   False
2748                         False                                   False
2749                         False                                   False

      ECGTET_TaxesTrans_ExclFuelTrans_PctGDP
0                                      False
1                                      False
2                                      False
3                                      False
4                                      False
...                                      ...
2745                                   False
2746                                   False
2747                                   False
2748                                   False
2749                                   False

[2750 rows x 13 columns]

Le DataFrame est vide : False

In [263]:
# (Titres anglais) Sélectionner les lignes avec NaN ou 0 dans les 10 colonnes spécifiées
lignes_nan_zero = taxE.loc[(taxE['ECGTE_EnvTaxes_DomCCY'].isna() | (taxE['ECGTE_EnvTaxes_DomCCY'] == 0)) & (taxE['ECGTE_EnvTaxes_PctGDP'].isna() | (taxE['ECGTE_EnvTaxes_PctGDP'] == 0)) &                                (taxE['ECGTEN_TaxesEnergy_InclFuelTrans_DomCCY'].isna() | (taxE['ECGTEN_TaxesEnergy_InclFuelTrans_DomCCY'] == 0)) & (taxE['ECGTEN_TaxesEnergy_InclFuelTrans_PctGDP'].isna() | (taxE['ECGTEN_TaxesEnergy_InclFuelTrans_PctGDP'] == 0)) & (taxE['ECGTEP_TaxesPollution_DomCCY'].isna() | (taxE['ECGTEP_TaxesPollution_DomCCY'] == 0)) & (taxE['ECGTEP_TaxesPollution_PctGDP'].isna() | (taxE['ECGTEP_TaxesPollution_PctGDP'] == 0)) & (taxE['ECGTER_TaxesResources_DomCCY'].isna() | (taxE['ECGTER_TaxesResources_DomCCY'] == 0)) & (taxE['ECGTER_TaxesResources_PctGDP'].isna() | (taxE['ECGTER_TaxesResources_PctGDP'] == 0)) & (taxE['ECGTET_TaxesTrans_ExclFuelTrans_DomCCY'].isna() | (taxE['ECGTET_TaxesTrans_ExclFuelTrans_DomCCY'] == 0)) & (taxE['ECGTET_TaxesTrans_ExclFuelTrans_PctGDP'].isna() | (taxE['ECGTET_TaxesTrans_ExclFuelTrans_PctGDP'] == 0))]

# Afficher les lignes sélectionnées
print(lignes_nan_zero)

         country ISO3  year  ECGTE_EnvTaxes_DomCCY  ECGTE_EnvTaxes_PctGDP  \
152   Bangladesh  BGD  1995                    NaN                    NaN
153   Bangladesh  BGD  1996                    NaN                    NaN
154   Bangladesh  BGD  1997                    NaN                    NaN
155   Bangladesh  BGD  1998                    NaN                    NaN
156   Bangladesh  BGD  1999                    NaN                    NaN
...          ...  ...   ...                    ...                    ...
2721     Vietnam  VNM  1999                    NaN                    NaN
2722     Vietnam  VNM  2000                    NaN                    NaN
2723     Vietnam  VNM  2001                    NaN                    NaN
2724     Vietnam  VNM  2002                    NaN                    NaN
2743     Vietnam  VNM  2021                    NaN                    NaN

      ECGTEN_TaxesEnergy_InclFuelTrans_DomCCY  \
152                                       0.0
153                                       0.0
154                                       0.0
155                                       0.0
156                                       0.0
...                                       ...
2721                                      NaN
2722                                      NaN
2723                                      NaN
2724                                      NaN
2743                                      NaN

      ECGTEN_TaxesEnergy_InclFuelTrans_PctGDP  ECGTEP_TaxesPollution_DomCCY  \
152                                       0.0                           0.0
153                                       0.0                           0.0
154                                       0.0                           0.0
155                                       0.0                           0.0
156                                       0.0                           0.0
...                                       ...                           ...
2721                                      NaN                           0.0
2722                                      NaN                           0.0
2723                                      NaN                           0.0
2724                                      NaN                           0.0
2743                                      NaN                           0.0

      ECGTEP_TaxesPollution_PctGDP  ECGTER_TaxesResources_DomCCY  \
152                            0.0                           0.0
153                            0.0                           0.0
154                            0.0                           0.0
155                            0.0                           0.0
156                            0.0                           0.0
...                            ...                           ...
2721                           0.0                           0.0
2722                           0.0                           0.0
2723                           0.0                           0.0
2724                           0.0                           0.0
2743                           0.0                           0.0

      ECGTER_TaxesResources_PctGDP  ECGTET_TaxesTrans_ExclFuelTrans_DomCCY  \
152                            0.0                                     NaN
153                            0.0                                     NaN
154                            0.0                                     NaN
155                            0.0                                     NaN
156                            0.0                                     NaN
...                            ...                                     ...
2721                           0.0                                     0.0
2722                           0.0                                     0.0
2723                           0.0                                     0.0
2724                           0.0                                     0.0
2743                           0.0                                     0.0

      ECGTET_TaxesTrans_ExclFuelTrans_PctGDP
152                                      NaN
153                                      NaN
154                                      NaN
155                                      NaN
156                                      NaN
...                                      ...
2721                                     0.0
2722                                     0.0
2723                                     0.0
2724                                     0.0
2743                                     0.0

[451 rows x 13 columns]

In [264]:
# (Titres anglais) Supprimer les lignes avec NaN ou 0 dans les 10 colonnes spécifiées
taxE = taxE.drop(taxE[(taxE['ECGTE_EnvTaxes_DomCCY'].isna() | (taxE['ECGTE_EnvTaxes_DomCCY'] == 0)) & (taxE['ECGTE_EnvTaxes_PctGDP'].isna() | (taxE['ECGTE_EnvTaxes_PctGDP'] == 0)) & (taxE['ECGTEN_TaxesEnergy_InclFuelTrans_DomCCY'].isna() | (taxE['ECGTEN_TaxesEnergy_InclFuelTrans_DomCCY'] == 0)) & (taxE['ECGTEN_TaxesEnergy_InclFuelTrans_PctGDP'].isna() | (taxE['ECGTEN_TaxesEnergy_InclFuelTrans_PctGDP'] == 0)) & (taxE['ECGTEP_TaxesPollution_DomCCY'].isna() | (taxE['ECGTEP_TaxesPollution_DomCCY'] == 0)) & (taxE['ECGTEP_TaxesPollution_PctGDP'].isna() | (taxE['ECGTEP_TaxesPollution_PctGDP'] == 0)) & (taxE['ECGTER_TaxesResources_DomCCY'].isna() | (taxE['ECGTER_TaxesResources_DomCCY'] == 0)) & (taxE['ECGTER_TaxesResources_PctGDP'].isna() | (taxE['ECGTER_TaxesResources_PctGDP'] == 0)) & (taxE['ECGTET_TaxesTrans_ExclFuelTrans_DomCCY'].isna() | (taxE['ECGTET_TaxesTrans_ExclFuelTrans_DomCCY'] == 0)) & (taxE['ECGTET_TaxesTrans_ExclFuelTrans_PctGDP'].isna() | (taxE['ECGTET_TaxesTrans_ExclFuelTrans_PctGDP'] == 0))].index)

# Réinitialiser les index après la suppression des lignes
taxE = taxE.reset_index(drop=True)

# Afficher le dataframe après suppression
taxE.head(5)

,country,ISO3,year,ECGTE_EnvTaxes_DomCCY,ECGTE_EnvTaxes_PctGDP,ECGTEN_TaxesEnergy_InclFuelTrans_DomCCY,ECGTEN_TaxesEnergy_InclFuelTrans_PctGDP,ECGTEP_TaxesPollution_DomCCY,ECGTEP_TaxesPollution_PctGDP,ECGTER_TaxesResources_DomCCY,ECGTER_TaxesResources_PctGDP,ECGTET_TaxesTrans_ExclFuelTrans_DomCCY,ECGTET_TaxesTrans_ExclFuelTrans_PctGDP
0,Albania,ALB,2015,4.399314e+10,3.067206,3.774111e+10,2.631314,1.782069e+09,0.124246,32546493.00,0.002269,4.437413e+09,0.309377
1,Albania,ALB,2016,4.781379e+10,3.247163,4.094562e+10,2.780726,1.879970e+09,0.127674,52524339.00,0.003567,4.935684e+09,0.335195
2,Albania,ALB,2017,4.754858e+10,3.066373,4.040004e+10,2.605369,1.941324e+09,0.125195,61861356.38,0.003989,5.145347e+09,0.331820
3,Albania,ALB,2018,5.114559e+10,3.124865,4.352182e+10,2.659072,2.226251e+09,0.136018,56011991.00,0.003422,5.341506e+09,0.326352
4,Albania,ALB,2019,5.341565e+10,3.157133,4.516530e+10,2.669496,2.625011e+09,0.155151,58777099.50,0.003474,5.566564e+09,0.329012

In [265]:
taxE = taxE.fillna(0)

In [266]:
taxE.to_csv('./output/Tax_Energy.csv', index=False)

In [267]:
# Changement de types
wec['year'] = wec['year'].astype(int)
data['year'] = data['year'].astype(int)
taxE['year'] = taxE['year'].astype(int)

wec['country'] = wec['country'].astype(str)
data['country'] = data['country'].astype(str)
taxE['country'] = taxE['country'].astype(str)

# Fusion des valeurs de Co2
wec = pd.merge(wec, taxE, on=["country", "year"], how='left')

# Valeurs enregistrés
wec.to_csv('./output/World_Energy_Consumption_Full.csv', index=False)

In [268]:
# Charger le fichier CSV dans un DataFrame
df_price = pd.read_csv('./assets/energy_prices.csv')

# Définir les nouveaux noms de colonnes
nouveaux_noms = {
    'Crude Oil': 'price_crude_oil',
    'Coal': 'price_coal',
    'Natural Gas': 'price_natural_gas',
    'Year': 'year'
}

# Renommer les colonnes
df_price.rename(columns=nouveaux_noms, inplace=True)

df_price = df_price.fillna(0)

df_price['price_crude_oil'] = df_price['price_crude_oil'].astype(float)
df_price['price_coal'] = df_price['price_coal'].astype(float)
df_price['price_natural_gas'] = df_price['price_natural_gas'].astype(float)
df_price['year'] = df_price['year'].astype(int)

df_price.head(10)

   year  price_crude_oil  price_coal  price_natural_gas
0  1960             1.63         0.0               0.14
1  1961             1.57         0.0               0.15
2  1962             1.52         0.0               0.16
3  1963             1.50         0.0               0.16
4  1964             1.45         0.0               0.15
5  1965             1.42         0.0               0.16
6  1966             1.36         0.0               0.16
7  1967             1.33         0.0               0.16
8  1968             1.32         0.0               0.16
9  1969             1.27         0.0               0.17

In [269]:
# Fusion des valeurs pour les prix des energies fossiles dans pour le monde
wec = pd.merge(wec, df_price[df_price['year'].isin(wec[wec['country'] == 'World']['year'])], on=["year"], how='left')
wec.to_csv('./output/World_Energy_Consumption_Full.csv', index=False)

In [270]:
# Charger le dataset World_Energy_Consumption_Full.csv
price = pd.read_csv('./output/World_Energy_Consumption_Full.csv')
price.head(5)

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,ECGTEN_TaxesEnergy_InclFuelTrans_PctGDP,ECGTEP_TaxesPollution_DomCCY,ECGTEP_TaxesPollution_PctGDP,ECGTER_TaxesResources_DomCCY,ECGTER_TaxesResources_PctGDP,ECGTET_TaxesTrans_ExclFuelTrans_DomCCY,ECGTET_TaxesTrans_ExclFuelTrans_PctGDP,price_crude_oil,price_coal,price_natural_gas
7710,World,1961,NaN,3.068371e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.57,0.00,0.15
7711,World,1962,NaN,3.126687e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.52,0.00,0.16
7712,World,1963,NaN,3.195779e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.50,0.00,0.16
7713,World,1964,NaN,3.267212e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.45,0.00,0.15
7714,World,1965,NaN,3.337112e+09,NaN,NaN,NaN,2.706,9.030,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.42,0.00,0.16
7715,World,1966,NaN,3.406417e+09,NaN,1.993,0.180,2.704,9.210,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.36,0.00,0.16
7716,World,1967,NaN,3.475448e+09,NaN,1.888,0.174,2.700,9.384,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.33,0.00,0.16
7717,World,1968,NaN,3.546811e+09,NaN,1.813,0.170,2.694,9.554,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.32,0.00,0.16
7718,World,1969,NaN,3.620655e+09,NaN,1.781,0.170,2.686,9.724,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.27,0.00,0.17
7719,World,1970,NaN,3.695390e+09,2.181445e+13,38.847,3.778,3.654,13.501,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.21,7.80,0.17
7720,World,1971,NaN,3.770163e+09,NaN,0.449,0.061,3.597,13.562,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.69,8.68,0.18
7721,World,1972,NaN,3.844801e+09,NaN,9.298,1.261,3.855,14.823,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.82,9.60,0.19
7722,World,1973,NaN,3.920251e+09,NaN,-3.863,-0.573,3.635,14.251,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.81,11.48,0.21
7723,World,1974,NaN,3.995517e+09,NaN,0.591,0.084,3.588,14.335,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.97,16.89,0.29
7724,World,1975,NaN,4.069437e+09,NaN,-4.509,-0.646,3.364,13.688,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.43,26.84,0.43
7725,World,1976,NaN,4.142506e+09,NaN,0.459,0.063,3.320,13.751,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.63,27.16,0.58
7726,World,1977,NaN,4.215772e+09,NaN,33.214,4.567,4.345,18.319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.57,28.68,0.79
7727,World,1978,NaN,4.289658e+09,NaN,26.532,4.860,5.403,23.179,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.92,29.06,0.91
7728,World,1979,NaN,4.365583e+09,NaN,20.900,4.844,6.419,28.023,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.96,30.89,1.18
7729,World,1980,NaN,4.444008e+09,3.188098e+13,16.996,4.763,7.378,32.786,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.87,40.14,1.59
7730,World,1981,NaN,4.524627e+09,NaN,-9.267,-3.038,6.575,29.748,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.48,53.62,1.98
7731,World,1982,NaN,4.607985e+09,NaN,26.248,7.808,8.150,37.556,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.65,54.77,2.47
7732,World,1983,NaN,4.691884e+09,NaN,30.522,11.463,10.448,49.019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.66,38.19,2.59
7733,World,1984,NaN,4.775836e+09,NaN,17.926,8.787,12.104,57.806,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.56,30.96,2.66
7734,World,1985,NaN,4.861731e+09,NaN,18.343,10.604,14.071,68.410,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.18,33.75,2.51
7735,World,1986,NaN,4.950063e+09,NaN,23.086,15.793,17.010,84.203,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.35,31.13,1.94
7736,World,1987,NaN,5.040985e+09,NaN,1.339,1.127,16.927,85.330,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.15,27.50,1.66
7737,World,1988,NaN,5.132294e+09,NaN,4.957,4.230,17.450,89.560,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.72,34.88,1.68
7738,World,1989,NaN,5.223704e+09,NaN,6.843,6.129,18.318,95.689,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.84,38.00,1.70
7739,World,1990,NaN,5.316176e+09,4.301825e+13,11.447,10.954,20.060,106.643,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.88,39.67,1.70
7740,World,1991,NaN,5.406246e+09,NaN,3.831,4.086,20.482,110.729,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.37,39.67,1.49
7741,World,1992,NaN,5.492686e+09,NaN,-1.745,-1.932,19.807,108.796,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.02,38.56,1.77
7742,World,1993,NaN,5.577434e+09,NaN,5.191,5.648,20.519,114.444,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.84,31.33,2.12
7743,World,1994,NaN,5.660728e+09,NaN,8.503,9.731,21.936,124.175,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.89,32.30,1.92
7744,World,1995,NaN,5.743220e+09,NaN,5.658,7.026,22.845,131.202,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.18,39.37,1.72
7745,World,1996,NaN,5.825145e+09,NaN,-4.031,-5.288,21.615,125.913,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.42,38.07,2.73
7746,World,1997,NaN,5.906481e+09,NaN,3.391,4.270,22.041,130.183,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.17,35.10,2.48
7747,World,1998,NaN,5.987313e+09,NaN,2.579,3.357,22.304,133.540,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.06,29.23,2.09
7748,World,1999,NaN,6.067759e+09,NaN,1.416,1.891,22.320,135.431,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.07,25.89,2.27
7749,World,2000,NaN,6.148899e+09,5.986666e+13,-1.856,-2.513,21.617,132.918,24.175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.23,26.25,4.31
7750,World,2001,NaN,6.230747e+09,NaN,-1.176,-1.564,21.082,131.354,22.967,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.35,32.31,3.96
7751,World,2002,NaN,6.312408e+09,NaN,21.048,27.648,25.189,159.002,24.810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.93,25.31,3.36
7752,World,2003,NaN,6.393898e+09,NaN,12.154,19.325,27.890,178.327,26.261,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.90,26.09,5.49
7753,World,2004,NaN,6.475751e+09,NaN,17.883,31.890,32.462,210.217,28.497,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.73,52.95,5.89
7754,World,2005,NaN,6.558176e+09,NaN,17.272,36.308,37.591,246.526,31.783,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.39,47.62,8.92
7755,World,2006,NaN,6.641416e+09,NaN,24.336,59.994,46.153,306.519,33.270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.29,49.09,6.72
7756,World,2007,NaN,6.725948e+09,NaN,29.628,90.816,59.075,397.336,36.150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.12,65.73,6.98
7757,World,2008,NaN,6.811597e+09,NaN,35.519,141.131,79.052,538.467,37.941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.99,127.10,8.86
7758,World,2009,NaN,6.898306e+09,NaN,13.406,72.186,88.522,610.654,40.524,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.76,71.84,3.95
7759,World,2010,NaN,6.985603e+09,8.980730e+13,14.593,89.110,100.172,699.763,46.126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.04,98.97,4.39